{
    "autolink": {
        "enabled": "false",
        "issue_regex": "^\\d+",
        "url": "https://codeberg.org/organisation/{{project}}/issues/{{issue}}"
    },
    "backend": "wakapi",
    "include": {
        "ignore_regex": "^-fix-|main|staging"
    },
    "precision": 60,
    "spread_unallocated": true
}
